<div class="row-fluid">

  <div class="span7">
    <%= erb :_sa_main %>
    <%= erb :_sabots %>
    <%= erb :_ma_main %>
    <%= erb :_analyse %>
  </div>

  <div class="span5">
    <%= erb :_tas %>
  </div>

</div>
